


/*LOGIN */















* { 



    background-color:rgb(red, green, blue);
    width: auto;
    height: auto;
    margin: 0em;
    padding: 1em;
     
}


#cabecera {

    background-color: salmon;
    width: auto;
    height: 150px;
    margin: 3;
    padding: 1;
    border: 2cm;

}
#subaru {

    width: 300px;
height: 500px;


}




